.defineF {  
    position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 95%;  
    background-color: darkolivegreen;  
    color: white;  
    text-align: center;  
    } 
