<section>
    <div class="search-hero">
        <input  class="fl" type="search" [(ngModel)]="searchQuery" (keyup)="searchArtists()" placeholder="Search an artist!">

    </div>
    
</section>
<section class="p-3">
    <div class="container">
        <div class="row"  *ngFor="let artist of artists">
            <div class="col">
                <div class="card" style="background-color:lightpink">
                    <div class="card-header bg-primary text-white">
                        <h2>{{artist.name}}</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img [src]="artist.images[0].url" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-md-9">
                                <h4 class="display-3 text-primary"><a routerLink="/artists/{{artist.id}}" style="text-decoration:none;">{{artist.name}}</a>
                            </h4>
                            <p class="h5"> Genres :
                                <span class="btn btn-info" style="margin:3%" *ngFor="let genre of artist.genres"><i>{{genre }}</i></span>
                            </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section>
<div class="card-body">
    <h2 style=" color:midnightblue; background-color:darkkhaki; text-align:center;">Listen to some music</h2>
    <div class="row">
        <div class="col-md-4" *ngFor="let track of tracklist" >
            <div class="card-mt-3">
                <div class="flex-container" style="border:2px solid red; border-radius:5% ;margin:0px; background-color:#ff9100d7;">
                    <p class="lead" style="color:black ;background-color: #9c0970f1;width: 20vw;" ><b>{{track.name}}</b></p>
                    <audio controls>
                        <source [src]="track.preview_url">
                    </audio>
                    
                </div>
            </div>

        </div>
    </div>
</div>

</section>