<section class="p-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2>{{artist.name}}</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img [src]="artist.images[0].url" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-md-9">
                                <h4 class="display-3 text-primary"><a routerLink="/artists/{{artist.id}}">{{artist.name}}</a>
                            </h4>
                                <p class="h2">Followers : {{artist.followers.total | number}}</p>
                                <p class="h5"> Genres :
                                    <span *ngFor="let genre of artist.genres"><i>{{genre}}</i></span>
                                </p>
                            </div>
                        </div>
                    </div>
    
                    </div>
                    
                </div>
            </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3" *ngFor="let album of albums">
                <div class="card mt-3">
                    <div class="card-body bg-secondary text-white text-center">
                        <img [src]="album.images[0].url" class="img-fluid img-thumbnail">
                        <h3 class="mt-3">{{album.name}}</h3>
                        <a routerLink="/albums/{{album.id}}" class="btn btn-outline-white">View Album</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

